<ion-header>
  <ion-toolbar>
    <ion-title>loginPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title> welcome to Coder_Shaikh.co.in</ion-card-title>
    </ion-card-header>
  <img src="assets/logo.jpg" alt="coder_shaikh logo" height="200px" width="100%">
    <ion-card-content>
      This is my first Ionic Application. Please support and subscribe my group
    <ion-item>
    <ion-input [(ngModel)]="user.email" placeholder=" Enter User Name"></ion-input>
  </ion-item>
  <br>
<ion-item>
  <ion-input  [(ngModel)]="user.password" placeholder="Enter Password" type="password"></ion-input>
</ion-item>
  <ion-button color="tertiary" expand="block" (click)="loginme()" type="submit">Login</ion-button>
  <ion-button color="secondary" expand="block" (click)="register()" type="submit">Register</ion-button>
</ion-card-content>
  </ion-card>
</ion-content>
